# App details -
APP_NAME="your_app_name"

# Cors details -
CORS_ORIGINS=["http://localhost:8080"]

# GCP settings -
PROJECT_ID="your_project_id"
INSTANCE_ID="your_instance_id"
REGION="your_region"

DB_NAME="your_db_name"
DB_USER="your_db_user"
DB_PASSWORD="your_db_password"

# Auth settings -
ALGORITHM = "your_algorithm"
SECRET_KEY = "your_secret_key"
ACCESS_TOKEN_EXPIRE_MINUTES = 30
VERIFY_TOKEN_EXPIRE_HOURS = 24
RESET_TOKEN_EXPIRE_MINUTES = 15

# Email service (SendGrid) settings -
SENDGRID_API_KEY="your_sendgrid_api_key"
FROM_EMAIL="your_from_email"

# GCS storage -
GCS_BUCKET_NAME="your-gcs-bucket-name"

# PDF file input settings -
ALLOWED_CONTENT_TYPES=["application/pdf"]
ALLOWED_CONTENT_EXTENSIONS=[".pdf"]
MAX_FILE_SIZE_BYTES=52428800 # 50 MB